
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
}


body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}


h1 {
    text-align: center;
    font-size: 3em;
    color: #3498db;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


h4 {
    font-size: 1.6em;
    margin-top: 20px;
    color: #2c3e50;
    border-left: 5px solid #3498db;
    padding-left: 10px;
    text-transform: capitalize;
}

h2 {
    font-size: 1.6em;
    margin-top: 20px;
    color: #2c3e50;
    border-left: 5px solid #3498db;
    padding-left: 10px;
    text-transform: capitalize;
}

p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 15px;
}

p:nth-of-type(4) {
    list-style-type: circle;
}

p:last-of-type {
    font-weight: bold;
    background-color: #ecf0f1;
    padding: 15px;
    border-left: 5px solid  #2980b9
}


img {
    display: start;
    margin: 20px auto;
    max-width: 200px;
    
    
}

img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.1em;
    }

    img {
        max-width: 150px;
    }
}
